
.row-box {
    position: relative;
    height: 100%;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

.row-head {
    position: absolute;
    top: 0;
    height: 100%;
    white-space: nowrap;
    width: 100%;
    line-height: 30px;
    text-align: center;
    background-color: #BABD8D;
    box-shadow: -1px 0px 0 #000 inset;
    display: flex;
    align-items: center;
    justify-content: center;
}