.spreadsheet * {
    box-sizing: border-box;
}

.spreadsheet {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fixedTable {
    height: 500px;
    width: 500px;
    position: relative;
    overflow-x: scroll;

}

.table {
    width: 1500px;
    border-collapse: collapse;
    border: 1px solid #000;
}


.table thead {
    display: table;
    width: calc(100% - 24px);
}

.table thead tr {
    box-shadow: 0px -1px 0 #000 inset;
}

.table tbody {
    position: relative;
    display: block;
    max-height: calc(500px - 74px);
    overflow-y: scroll;
}

.table th, .table td {
    width: 50px;
    padding: 5px;
    height: 30px;
    word-break: break-all;
}

.table tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.table td {
    text-align: center;
    border-bottom: none;
    border-left: none;
}

.table tr th .row-head {
    box-shadow: -1px -1px 0 #000 inset;
}

.table tr th:first-child, .table tr td:first-child {
    width: 70px;
    padding: 0;
}
